<% if @review %>
    <h1> Comments for <%= @review.title%> </h1>
<% else %>
    <h1> All Comments </h1>
<% end %>

<ul>
<% comments.each do |c| %>
    <li><%= c.user.username%> - "<%= c.content %>" about this review: <strong><%= link_to c.review.title, review_path(c.review_id)%></strong></li>
<% end %>
</ul>