<h1> Reviews </h1>

<% @reviews.each do |r| %>
    <h4><%= r.title %> <%= link_to "See review", review_path(r)%></h4>
    <h5> By: <%= r.user.username %></h5>
    <br>
    <%= r.content %>
    <br>
<% end %>